node-red-export.txt
[{"id":"927fb665.5668d8","type":"tab","label":"HOMEPAGE "},{"id":"21961280.df91de","type":"tab","label":"Ofertante"},{"id":"42a7c301.b741ec","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"9ac6ea9a.ae8118","type":"http in","z":"927fb665.5668d8","name":"","url":"/","method":"get","swaggerDoc":"","x":97,"y":57,"wires":[["8cdf8425.f2f7a8"]]},{"id":"8cdf8425.f2f7a8","type":"template","z":"927fb665.5668d8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n  <link rel=\"stylesheet\" href=\"https://dl.dropboxusercontent.com/s/izzcyhbpapg6sq8/style.css\">\n       \n<meta charset=\"utf-8\">\n<title>Free2Go</title>\n</head>\n<body>\n<center><div class=\"logo\"> <img src=\"https://dl.dropboxusercontent.com/s/jvec05o70yrx51v/f2g.png\" width=\"200px\"> </div></center>\n   <div class=\"buttons\">\n    <a class=\"btn blue\" href=\"/doar\">Quero doar</a>\n    <a class=\"btn blue\" href=\"/doacao\">Preciso de doações</a>\n      </div>\n      \n    \n </body>\n</html>\n","x":314,"y":59,"wires":[["8548ef1e.e54a3"]]},{"id":"8548ef1e.e54a3","type":"http response","z":"927fb665.5668d8","name":"","x":559,"y":59,"wires":[]},{"id":"85301525.6ea858","type":"http in","z":"927fb665.5668d8","name":"","url":"/doacao","method":"get","swaggerDoc":"","x":105,"y":141,"wires":[["84e15076.3c9db"]]},{"id":"84e15076.3c9db","type":"template","z":"927fb665.5668d8","name":"Favorecido","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n         <title>Quero doar</title>\n         <link rel=\"stylesheet\" href=\"https://dl.dropboxusercontent.com/s/izzcyhbpapg6sq8/style.css\">\n         <div class=\"detail\"> </div><a href=\"https://freetwogo.mybluemix.net/\"><img src=\"https://dl.dropboxusercontent.com/s/ewm3404nwerzhp1/back.png\"></a></div>\n      </head>\n    <body>\n       <div class=\"chatbot-fav\"><div id='teste'></div><br>\n       <div id='teste2'></div>\n       \n        <input type='text' id='input' onkeypress=\"return runScript(event)\" class=\"text-input\" />\n        <div id='teste3'></div>\n        <script>\n            var context = {};\n            var offers = [];\n            \n            function LoadOffers(current){\n\n                var xhttp = new XMLHttpRequest();\n                xhttp.onreadystatechange = function() {\n                    if (this.readyState == 4 && this.status == 200) {\n                        var jsonResult = JSON.parse(xhttp.responseText);\n                        //offers = jsonResult;\n                        console.log(jsonResult)\n                        \n                        for (var i = 0; i < jsonResult.length ; i++) {\n                            if (jsonResult[i].context.selectedRegion == current.context.selectedRegion\n                            && jsonResult[i].context.selectedProduct == current.context.selectedProduct\n                            && jsonResult[i].context.selectedQuantity >= current.context.selectedQuantity\n                            && jsonResult[i].context.selectedUnityType == current.context.selectedUnityType)\n                                document.getElementById('teste3').innerHTML += 'Região:' + jsonResult[i].context.selectedRegion + ' Produto:' + jsonResult[i].context.selectedProduct + ' Qtd:' + jsonResult[i].context.selectedQuantity + ' ' + jsonResult[i].context.selectedUnityType + ' Até ' + jsonResult[i].context.selectedExpireTime + ' horas<br />';\n                        }\n                        \n                    }\n                }; \n                xhttp.open(\"GET\", \"/offerList\", true);\n                xhttp.setRequestHeader(\"Content-type\", \"application/json\");\n                xhttp.send();\n            };\n            \n            function runScript(e) {\n                if (e.keyCode == 13) {\n                    sendMessage(); \n                    return false;\n                }\n            }\n            \n            function sendMessage(){\n                var input = document.getElementById('input').value;\n                \n                if (JSON.stringify(context) === JSON.stringify({}) && input == \"\") input = \"Start\";\n                else if (input == \"\") return;\n\n                var xhttp = new XMLHttpRequest();\n                xhttp.onreadystatechange = function() {\n                    if (this.readyState == 4 && this.status == 200) {\n                        var jsonResult = JSON.parse(xhttp.responseText);\n                        context = jsonResult.context;\n                        \n                        if (jsonResult.output.text[0] == \"Confirmado!\")\n                        {\n                            document.getElementById('input').style.visibility = 'hidden'\n                            document.getElementById('teste').innerHTML = jsonResult.output.text[0];\n                            document.getElementById('teste2').innerHTML = \"Você pediu \" + jsonResult.context.selectedQuantity + \" \" + jsonResult.context.selectedUnityType + \" de \" + jsonResult.context.selectedProduct + \".\" + \"<br> Neste momento você está na \" + jsonResult.context.selectedRegion;\n                        \n                            LoadOffers(jsonResult);\n                        }\n                        else {\n                            document.getElementById('teste').innerHTML = jsonResult.output.text[0];\n                        }\n                        document.getElementById('input').value = \"\";\n                        \n                    }\n                }; \n                xhttp.open(\"POST\", \"/api\", true);\n                xhttp.setRequestHeader(\"Content-type\", \"application/json\");\n                xhttp.send(JSON.stringify({mensagem : input, conversationId : context.conversation_id, context : context}));\n            };\n            \n            LoadOffers();\n            sendMessage();\n        </script>\n  \n        <!-- <button onclick='sendMessage();'>Enviar</button> -->\n        </div>\n    </body>\n</html>","x":328,"y":136,"wires":[["15564925.cef277"]]},{"id":"548765fc.1d78fc","type":"watson-conversation-v1","z":"927fb665.5668d8","name":"Favorecido","workspaceid":"2a223ab4-b1c8-4c4c-b523-221ae160ce26","multiuser":true,"context":true,"x":474,"y":253,"wires":[["a1b7ee1c.9ecda"]]},{"id":"d594a4bb.10d008","type":"http in","z":"927fb665.5668d8","name":"","url":"/api","method":"post","swaggerDoc":"","x":97,"y":251,"wires":[["f835d0e1.81fc3"]]},{"id":"f835d0e1.81fc3","type":"change","z":"927fb665.5668d8","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.conversationId","tot":"msg"},{"t":"set","p":"params.context","pt":"msg","to":"payload.context","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":253,"wires":[["548765fc.1d78fc"]]},{"id":"15564925.cef277","type":"http response","z":"927fb665.5668d8","name":"","x":573,"y":127,"wires":[]},{"id":"a1b7ee1c.9ecda","type":"http response","z":"927fb665.5668d8","name":"","x":670,"y":253,"wires":[]},{"id":"5ac54834.90c8d8","type":"http in","z":"21961280.df91de","name":"","url":"/doar","method":"get","swaggerDoc":"","x":108,"y":124,"wires":[["9496f2a0.56b2a"]]},{"id":"9496f2a0.56b2a","type":"template","z":"21961280.df91de","name":"Ofertante","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n         <title>Quero doação</title>\n         <link rel=\"stylesheet\" href=\"https://dl.dropboxusercontent.com/s/izzcyhbpapg6sq8/style.css\">\n         <div class=\"detail\"> </div><a href=\"https://freetwogo.mybluemix.net/\"><img src=\"https://dl.dropboxusercontent.com/s/ewm3404nwerzhp1/back.png\"></a></div>\n      </head>\n    <body>\n       <div class=\"chatbot-fav\"><div id='teste'></div><br>\n       <div id='teste2'></div>\n        <input type='text' id='input' onkeypress=\"return runScript(event)\" class=\"text-input\" />\n        <script>\n            var context = {};\n            \n            function insertdb(context) {\n                var xhttp = new XMLHttpRequest();\n                xhttp.onreadystatechange = function() {\n                    if (this.readyState == 4 && this.status == 200) {\n                        \n                    }\n                };\n                xhttp.open(\"POST\", \"/offerinsert\", true);\n                xhttp.setRequestHeader(\"Content-type\", \"application/json\");\n                xhttp.send(JSON.stringify({ context : context }));\n            }\n            \n            function runScript(e) {\n                if (e.keyCode == 13) {\n                    sendMessage(); \n                    return false;\n                }\n            }\n              function sendMessage(){\n                var input = document.getElementById('input').value;\n                \n                if (JSON.stringify(context) === JSON.stringify({}) && input == \"\") input = \"Start\";\n                else if (input == \"\") return;\n\n                var xhttp = new XMLHttpRequest();\n                xhttp.onreadystatechange = function() {\n                    if (this.readyState == 4 && this.status == 200) {\n                        var jsonResult = JSON.parse(xhttp.responseText);\n                        context = jsonResult.context;\n                        \n                        if (jsonResult.output.text[0] == \"Confirmado!\")\n                        {\n                            document.getElementById('input').style.visibility = 'hidden'\n                            document.getElementById('teste').innerHTML = jsonResult.output.text[0];\n                            document.getElementById('teste2').innerHTML = \"Você pediu \" + jsonResult.context.selectedQuantity + \" \" + jsonResult.context.selectedUnityType + \" de \" + jsonResult.context.selectedProduct + \".\" + \"<br> Neste momento você está na \" + jsonResult.context.selectedRegion;\n                            insertdb(context)\n                        }\n                        else {\n                            document.getElementById('teste').innerHTML = jsonResult.output.text[0];\n                        }\n                        document.getElementById('input').value = \"\";\n                    }\n                }; \n                xhttp.open(\"POST\", \"/api2\", true);\n                xhttp.setRequestHeader(\"Content-type\", \"application/json\");\n                xhttp.send(JSON.stringify({mensagem : input, conversationId : context.conversation_id, context : context}));\n            };\n            \n            sendMessage();\n        </script>\n  \n        <!-- <button onclick='sendMessage();'>Enviar</button> -->\n        </div>\n    </body>\n</html>","x":333,"y":123,"wires":[["569fa830.fd3948"]]},{"id":"569fa830.fd3948","type":"http response","z":"21961280.df91de","name":"","x":565,"y":127,"wires":[]},{"id":"d782072f.ad80c8","type":"watson-conversation-v1","z":"21961280.df91de","name":"Ofertante","workspaceid":"4ab8d66d-1572-4daf-93b0-33460a2f9a44","multiuser":true,"context":true,"x":475,"y":200,"wires":[["d475fd0c.de09a"]]},{"id":"c430ead8.bd1028","type":"http in","z":"21961280.df91de","name":"","url":"/api2","method":"post","swaggerDoc":"","x":112,"y":214,"wires":[["1628875e.f65609"]]},{"id":"1628875e.f65609","type":"change","z":"21961280.df91de","name":"","rules":[{"t":"set","p":"user","pt":"msg","to":"payload.conversationId","tot":"msg"},{"t":"set","p":"params.context","pt":"msg","to":"payload.context","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.mensagem","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":196,"wires":[["d782072f.ad80c8"]]},{"id":"d475fd0c.de09a","type":"http response","z":"21961280.df91de","name":"","x":664,"y":199,"wires":[]},{"id":"ec0ff4ae.d388a8","type":"http in","z":"21961280.df91de","name":"","url":"/offerinsert","method":"post","swaggerDoc":"","x":136,"y":284,"wires":[["44bb1386.1aa2bc","bd855c14.e30a2"]]},{"id":"44bb1386.1aa2bc","type":"cloudant out","z":"21961280.df91de","name":"","cloudant":"","database":"requests","service":"Cloudant NoSQL Free2Go","payonly":true,"operation":"insert","x":581,"y":250,"wires":[]},{"id":"951621d6.f052c","type":"cloudant in","z":"21961280.df91de","name":"","cloudant":"","database":"requests","service":"Cloudant NoSQL Free2Go","search":"_all_","design":"","index":"","x":395,"y":354,"wires":[["51b1ece4.71b3d4"]]},{"id":"5ba06ec0.bbca6","type":"http in","z":"21961280.df91de","name":"","url":"/offerList","method":"get","swaggerDoc":"","x":111,"y":352,"wires":[["951621d6.f052c"]]},{"id":"51b1ece4.71b3d4","type":"http response","z":"21961280.df91de","name":"","x":664,"y":352,"wires":[]},{"id":"bd855c14.e30a2","type":"http response","z":"21961280.df91de","name":"","x":597,"y":293,"wires":[]},{"id":"bdfd6159.a8ea8","type":"cloudant in","z":"927fb665.5668d8","name":"","cloudant":"","database":"requests","service":"Cloudant NoSQL Free2Go","search":"_all_","design":"","index":"","x":384,"y":340,"wires":[["c61f6684.7955c8"]]},{"id":"46a7cab8.f3b6b4","type":"http in","z":"927fb665.5668d8","name":"","url":"/offerList","method":"get","swaggerDoc":"","x":100,"y":338,"wires":[["bdfd6159.a8ea8"]]},{"id":"c61f6684.7955c8","type":"http response","z":"927fb665.5668d8","name":"","x":653,"y":338,"wires":[]}]